*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  color: white;
  font-weight: 300;
  margin: 0;
}

.subtitle {
  color: #f18119;
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
  margin: 0;
}

.main-content-subtitle {
  color: #f18119;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1.25em;
}

h2 {
  font-size: 1.3125rem;
  margin: 0;
}

strong {
  font-weight: 900;
}

.top-text {
  color: #f18119;
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: 900;
  letter-spacing: 0.2em;
  order: -1;
  margin-top: 0.5em;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

.intro {
  background-color: #404040;
  background-image: url(../img/dark-ribs.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 0.5em 2em;
}

.main-content {
  padding: 2em 1em;
}

.container {
  max-width: 300px;
  margin: 0 auto;
}

.container-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}

.sign-up-form {
  width: 80%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
}

input,
button {
  width: 100%;
  padding: 0.5em;
}

input {
  margin-bottom: 0.75em;
  text-align: inherit;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #404040;
  border-radius: 5px;
}

button {
  display: inline-block;
  border: 0;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #ffa51d, #ff713b);
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-family: inherit;
  font-size: 0.625rem;
  padding: 1.5em;
  cursor: pointer;
  transition: color 250ms;
}

button:hover,
button:focus {
  opacity: 90%;
  color: black;
}

.line {
  background-image: linear-gradient(90deg, #ffa51d, #ff713b);
  /* background-color: #f18119; */
  width: 12.5em;
  margin: 0 auto;
  height: 1vh;
}

@media (min-width: 500px) {
  body {
    font-size: 1.125rem;
    display: flex;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2,
  .subtitle {
    font-size: 1.75rem;
  }

  .intro,
  .main-content {
    width: 50%;
    min-height: 100vh;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    max-width: 450px;
  }

  .container-intro {
    height: 100%;
  }

  .line {
    width: 11em;
  }
}
