*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  color: white;
  font-weight: 300;
  margin: 2em 0;
}

.subtitle {
  color: #f18119;
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  font-weight: 700;
}

strong {
  font-weight: 700;
}

.top-text {
  color: #f18119;
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: 900;
  letter-spacing: 1px;
  order: -1;
  margin: 0;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

.intro {
  background-color: #404040;
  background-image: url(../img/dark-ribs.jpg);
  object-fit: cover;
  padding: 0 0.25em 1em;
  display: flex;
  flex-direction: column;
}
